<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>

<body>
    <div class="container-xxl">
        <div class="gradient-container">
            <div class="text-container">
                <h1 class="movie-title">Movie</h1>
                <p class="movie-time">Time</p>
            </div>

            <div class="row">
                <div class="container text-center">
                    <a class="loginBtn btn bg-primary text-white">
                        <p class="logintxt">Login</p>
                    </a>
                    <a class="loginBtn btn btn-danger">
                        <p class="logintxt">Register</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>