.container-xxl {
    height: 100vh;
}

.gradient-container {
    background-image: linear-gradient(to right, #5adbe4, #3199cb, #0451b0);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.movie-title {
    font-weight: 700;
    color: #f1f117;
    fill: #f1f117;
    font-size: 250px;
    font-family: cursive;
}

.movie-time {
    margin-top: -120px;
    font-size: 200px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: yellow;
    color: transparent;
    font-family: cursive;
}
.loginBtn{
    height: 50px;
    width: 200px;
    text-align: center;
}

.logintxt{
    font-size: 25px;
    font-family: cursive;
    font-weight: 400;

}

/* register page */
.register-container {
    width: 650px;
    height: 100vh;
    padding: 15px;
    background-color: aliceblue;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
}

.register-text{
    font-family: cursive;
    font-weight: 600;
}
.space-btwn-divs{
    margin-bottom: 50px;
}
.space-btwn-divs2{
    margin-bottom: 30px;
}